<!DOCTYPE html>
<html>
<head>
	<title>SmartWay Predictor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container" >
		    <h2>Earned SmartWay or NOT ??</h2>
	    </div>
    </header>
    
            <div class="container">
                
                    <img src="{{ url_for('static', filename='images/smartway.jpg') }}"/>
              
                    
                   <h1>{{ result }}</h1>
                   
                
            </div>

    </div>
	
	

</body>